@{
    ViewData["Title"] = "My RimColonist";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Find out your rimworld colonist stats by taking the quiz below!</h1>
    <button type="button" class="btn btn-light btn-lg" onclick="@("window.location.href='" + @Url.Action("StartQuiz", "Home") + "'");">Start</button>
</div>
